@import "tailwindcss";

body {
  background-color: #00041F;
  color: white;
}

input, textarea, select {
  background-color: white;
  color: black;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Add to your global CSS file */
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2979FF;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider-thumb::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2979FF;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider-thumb::-webkit-slider-thumb:hover {
  background: #1d5bbf;
  box-shadow: 0 0 0 8px rgba(41, 121, 255, 0.16);
}

.slider-thumb::-moz-range-thumb:hover {
  background: #1d5bbf;
  box-shadow: 0 0 0 8px rgba(41, 121, 255, 0.16);
}
